# Telegram bot username без @
VITE_BOT_USERNAME=fiddller_tma_wallet_bot

# Short name TMA из /newapp в @BotFather.
# Пусто (по умолчанию) — используется Main Mini App:
#   https://t.me/<bot>?startapp=<param>
# Если задан — Side Mini App:
#   https://t.me/<bot>/<app>?startapp=<param>
VITE_APP_NAME=tma-wallet

# Адрес master-контракта жетона
VITE_JETTON_MASTER=kQD8IpAw9lq0c13mg7_iRRMv1cwMEAC_F2tDlFAJDqEVxb5x

# Decimals жетона
VITE_JETTON_DECIMALS=9

# Toncenter API
VITE_TONCENTER_ENDPOINT=https://testnet.toncenter.com/api/v2

# TonClient4 endpoint
VITE_TONCLIENT_ENDPOINT=https://testnet-v4.tonhubapi.com
